Makefile
CursesDialogs/dialogs/ctk*
CursesDialogs/frontends/ctk*
.deps
.dirstamp
*.o
Makefile
config.h
config.log
config.status
stamp-h1
autom4te.cache
CursesDialogs/*/Doxyfile
CursesDialogs/*/html
CursesDialogs/*/searchdata.xml
IGNORE
localconfig


